<!DOCTYPE html>
<html>

<head>
  <% include ../partials/header.ejs %>
</head>

<body>


  <div class="body-index">
    <% include ../partials/nav.ejs %>
    <% include ../partials/menuStickers.ejs %>
    <section class="hero">
      <div class="index-landing-properties align-center">
        <h1 class="front-Page-text">Doctor IT and Graphics Solution</h1>
        <p>
          Bringing your ideas into desgin and print
        </p>
        <a href="contact" class="button success normal-button">Contact Us</a>
        <a href="#" class="hollow button">Learn More</a>
      </div>

    </section>


  </div>

  <% include ../partials/footer.ejs %>


</body>

</html>